
body {
    background: linear-gradient(45deg, rgb(59, 71, 145), rgb(132, 168, 252));
    }
            
            .logo-container{
        width: 100%;
        height: 30%;
        border: solid;
        }
        
            .logo-container img{
            width: 50%;
            margin-left: 25%;
        }
    
        .text-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
            p{
            text-align: center;
        }
    
        .titre{
            border: 2px solid black;
            border-radius: 25px;
            padding: 20px;
            background-color: black;
            color: white;
            box-shadow: 20px 15px 20px rgb(135,206,250);
        }
    
        .titre:hover{
            cursor: pointer;
            box-shadow: 10px 10px 10px rgb(135,206,250);
    
        }
            
        .table{
            width: 30px;
            height: 15px
            }
            
        tr{
            height: 4em;
            }
        td{
            width: 4em;
            }
            
        p{
            font: caption;
            }
            
            .button {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 1);
        background-image: linear-gradient(to top left,
                                        rgba(0, 0, 0, .2),
                                        rgba(0, 0, 0, .2) 30%,
                                        rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                    inset -2px -2px 3px rgba(0, 0, 0, .6);
            }
    
    .button:hover {
        background-color: rgba(10, 10, 10, 1);
            }
    
    .button:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                    inset 2px 2px 3px rgba(0, 0, 0, .6);
            }
    